@{ 
    Layout = null;
}

<div class="container theme-showcase two-column-template contentWrap" role="main">
    <div class="row">
        <div class="col-md-6">
            @{Html.RenderContentZone("LeftContentZone");}
        </div>

        <div class="col-md-6">
            @{Html.RenderContentZone("RightContentZone");}
        </div>
    </div>
</div>