@Html.Action("GlobalHeader", "Global")

<div class="container theme-showcase one-column-template contentWrap" role="main">
    @{Html.RenderContentZone("MainContentZone");}
</div>

@Html.Action("GlobalFooter", "Global")