@using Website
@using Agility.Web.Extensions
@using Agility.Web.Plugins

    <h1>Using Agility to Render Partial Content on Existing Custom Page</h1>
    <p>This page shows an example of how you can keep an existing custom page and its route(s) intact, while using Agility.Web to render a partial Agility page in a placeholder within the template.</p>

    <div class="panel panel-default">
        <div class="panel-body">
            @Html.Action("RenderPartialPage", "AgilityPartial", new { path = "~/examples/partial-inner-page" })
        </div>
    </div>


